body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #C0C0C0;
	text-align: center;
} 

#sidebar {
	
   	border-style: solid;
    position: relative;
    height: 250px;
	width: 19%;
	float: right;
	margin-bottom: 5px;
	margin-left: 1px;
}

#article {


	height: px;
	width: 77%;
	float: left;

	border-style: solid;
}

#header {
	
	border-radius: 6px;
	margin: 10px 5px;
	padding: 2px 3px;
	background-color: #4C4C4C;
	position: static;
}

#footer {
	

    height: 25px;
	clear: both;
	margin-top: 2.5px;
	margin-bottom:1.5px;
	position: relative;
}

.fire {
	color: red;
}

#caption {
	position: relative;
    
}

a:hover {
    color: orange;
}